################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MediaPlayer/v14
/MediaPlayer/bin/Debug
/MediaPlayer/obj/Debug
